@model MariosFoods.Models.Product

@{

    ViewData["Title"] = "Mario's Foods";
}




<article class="athelas">
  <div class="vh-100 dt w-100 tc bg-dark-gray white cover" style="background:url(https://images.unsplash.com/photo-1493409137604-0901c55e4456?w=1050)  no-repeat center;">
    <div class="dtc v-mid">
      <header class="white">
        <h2 class="f6 fw1 ttu tracked mb2 lh-title">Welcome</h2>
        <h3 class="f6 fw1 lh-title">to</h3>
      </header>
      <h1 class="f1 f-headline-l fw1 i white">Mario's Foods</h1>
      <blockquote class="ph0 mh0 measure f4 lh-copy center">
            
    <a href="@Url.Action("Index", "Products")">
        <i class="fa fa-arrow-down fa-5x grow lh-title" aria-hidden="true"></i> 
    </a>
                <br>
                <br>
                <br>
  
        <p class="fw1 white">
          "It's me Mario, come eat my food!"
        </p>
                
      </blockquote>
    </div>
  </div>

	<div>SOME TEXT</div>
